@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "Space Grotesk", sans-serif;
    margin: 0; 
    padding: 0; 
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    color: #09090b;
    background: #f5f5f5;
}

/* header */

header {
    user-select: none;
    width: 100%;
    height: 80px;
    background: #09090b;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 50px;
}

header h2 {
    color: #f3f3f3;
    margin: 1rem 2.5rem;
}

.logo {
    display: flex;
    margin-right: auto;
}

.hero {
    height: 55px;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #f3f3f3;
    font-size: 17px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 100ms;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #09090b;
    background: #f3f3f3;
}

#activeTab {
    background: #f3f3f3;
    color: #09090b;
}

/* index/home */

.container {
    display: grid;
    place-items: center;
    width: auto;
    margin: 3rem auto 1rem auto;
}

.body-hero {
    height: 15rem;
}

.container h1 {
    font-size: 40px;
    text-align: center;
}

.container h2 {
    font-size: 35px;
    text-align: center;
}

.container h2 span {
    color: maroon;
}

.text { 
    margin: 1.5rem auto;
}

.container p {
    font-size: 20px;
    width: 80%;
    margin-top: 6rem;
}

.bold-span {
    font-weight: 600;
}

.h2-span {
    text-decoration: underline;
}

.h1-underline {
    text-decoration: underline;
}

.h2-italic {
    font-style: italic;
}

/* projects */

.projects-p {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    margin: 3rem auto 1rem auto;
    text-decoration: underline;
}

.list-non-bullet {
    list-style: none;
}

.showcase-list {
    text-align: center;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 1rem;
    text-align: center;
    margin: 2rem auto;
}

.container-center {
    max-width: 900px;
}

.bc {
    background: #e5e5eb;
}

.showcase-list h2 {
    margin: 0.5rem; 
}

.showcase-list p {
    padding-bottom: 2rem;
}

.liveProject {
    border: none;
    padding: 0.6rem 1.2rem; 
    background-color: #09090b;
    color: #f5f5f5; 
    border-radius: 2rem;
    margin: 0.5rem;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    font-weight: normal;
}

.sourceCode {
    margin: 0.5rem;
    padding: 0.6rem 1.2rem; 
    border-radius: 2rem;
    background-color: #09090b;
    color: #f3f3f3;
}

.liveProject:hover, .sourceCode:hover {
    background-color: #e5e5eb;
    color: #09090b;
    outline: 2px solid #09090b;
    transition: 100ms;
}

.showcase-list p {
    font-weight: normal;
}

/* blogs */

.all-blogs {
    margin: 1rem 15rem 2rem 15rem;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 1rem;
}

.section-blogs {
    background: #e5e5eb;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.blog-header {
    font-size: 23px;
    font-weight: 600;
}

.blog-date {
    font-size: 15px;
    margin-bottom: 1rem;
    font-weight: 600;
}

.text-bold-desc {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0.1rem;
    text-decoration: underline;
}

.text-light-desc {
    font-size: 15px;
}

/* footer */

.footer {
    margin-top: auto;
    padding-top: 20px; 
    padding-bottom: 20px;
    background-color: #09090b;
    user-select: none;
}

.footer .socials {
    text-align: center;
}

.footer .socials a { 
    color: #f3f3f3;
    border-radius: 50%;
    font-size: 28px;
    padding: 6px;
    width: 50px; 
    height: 50px;
    line-height: 40px;
    display: inline-block;
    margin: 0 2px;
}

.footer .socials a:hover {
    color: #09090b;
    background-color: #f3f3f3;
    transition: 100ms;
}

/*
responsive
*/

@media only screen and (max-width: 900px) {

    body {
        min-height: 100svh;
    }

    header {
        height: 60px;
        padding: 0 20px;
    }

    .nav-bar ul li a {
        display: block;
        color: #f3f3f3;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 50px;
        transition: 100ms;
        margin: 0 2px;
    }

    .hero {
        height: 45px;
        padding-left: 0.5rem
    }

    header h2 {
        display: none;
    }

    .footer {
        padding: 10px 0;
    }

    .footer .socials a {
        font-size: 24px;
        margin: 0 2px;
    }

    /*
    index
    */

    .body-hero {
        height: 14rem;
    }

    .container h1 {
        font-size: 35px;
    }

    .container h2 {
        font-size: 31px;
    }

    .container p {
        font-size: 17px;
        text-align: center;
    }

    /*
    projects
    */

    .projects-p {
        margin: 2rem auto 1rem auto;
        font-size: 30px;
    }

    .showcase-list {
        margin: 2rem 1rem;
    }

    .showcase-list h2 {
        font-size: 23px;
    }

    .liveProject {
        padding: 0.4rem 0.8rem;
        margin: 0.1rem;
    }

    .sourceCode {
        padding: 0.4rem 0.8rem; 
        margin: 0.1rem;
    }

    /*
    blogs
    */

    .all-blogs {
        margin: 0;
    }

    .section-blogs {
        padding: 1rem;
    }

    .blog-header {
        font-size: 21px;
    }
}